include mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="js/bootstrap.min.js")
  body
    +navbar
    div.bg-light
      h1.display-4.text-center.pt-5 Contactanos
      div.container.pt-3
        div.text-center
          a.btn.btn-warning.text-light(style="font-weight: bold" href="https://cubizzperu.com/?v=3acf83834396") INGRESA A NUESTRA PAGINA PRINCIPAL 
        h4.text-center.pt-4.pb-5(style="font-weight: 200")  Para una atencion personalizada envianos tus datos junto con el tema a tratar
      
    .container: .row.justify-content-center: .col-6.align-self-center: form(action="/contactanos" method="POST")
      .form-group
        label(for='inputName')  Nombre
        input#inputName.form-control(type='text' name='inputName' value=`${data? data.inputName :''}`)
        if errors.name
         small#emailHelp.form-text.text-danger  Hay un problema en este campo, verificalo
      .form-group
        label(for='inputEmail') Correo Electrónico
        input#inputEmail.form-control(type='email', name='inputEmail' aria-describedby='emailHelp' value=`${data? data.inputEmail :''}`)
        small#emailHelp.form-text.text-muted Nunca compartiremos datos de tu correo electronico
        if errors.email
         small#emailHelp.form-text.text-danger  Hay un problema en este campo, verificalo
      .form-group
        label(for='inputPhone')  Telefono
        input#inputPhone.form-control(type='text' name="inputPhone" value=`${data? data.inputPhone :''}`)
        if errors.phone
         small#emailHelp.form-text.text-danger  Hay un problema en este campo, verificalo

      .form-group
        label(for='inputPhone')  Fecha de nacimiento
        input#inputPhone.form-control(type='text' name="inputDate"  value=`${data? data.inputDate :''}`)
        if errors.date
         small#emailHelp.form-text.text-danger  Hay un problema en este campo, verificalo
      .form-group
        label(for='inputMsg') Mensaje
        textarea#inputMsg.form-control(rows='3' name="inputMessage"  value=`${data? data.inputMessage :''}`)= data? data.inputMessage: ''
        if errors.message
         small#emailHelp.form-text.text-danger  Hay un problema en este campo, verificalo
      button.btn.btn-primary(type='submit') Enviar


    +footer
        
      

