include mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="js/bootstrap.min.js")
  body
    +navbar
    div.bg-light
      h1.display-4.text-center.pt-5 Informacion recibida
      div.container.pt-3
        div.text-center
          a.btn.btn-warning.text-light(style="font-weight: bold" href="/")  Ir a la pagina principal
        h4.text-center.pt-4.pb-5(style="font-weight: 200") En las proximas horas nos comunicaremos contigo para mas detalles
      


    +footer
        
      

