include mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="js/bootstrap.min.js")
  body
    +navbar
    div.bg-light
      h1.display-4.text-center.pt-5 Cubizz, tu tienda de confianza
      div.container.pt-3
        div.text-center
          a.btn.btn-warning.text-light(style="font-weight: bold" href="https://cubizzperu.com/?v=3acf83834396") INGRESA A NUESTRA PAGINA PRINCIPAL 
        h4.text-center.pt-4.pb-5(style="font-weight: 200") Una gran cantidad de cubos, puzzles y juguetes de los mas divertidos para toda la familia. Nuestra tienda ya cumple cerca de 4 años ofreciendo retos a todos los jóvenes.
      
    div.pt-2.container: div.row
      div.col-6
        img.img-fluid.rounded.mx-auto.d-block(src="/assets/cubo.jpg",  alt="", srcset="")
      div.col-6
        p(style="font-size: 18px") Todos los cubos son de gran calidad, nos encargarmos de verificar cada modelo antes de importarlo y ofrecemos las marcas mas reconocidas al mejor precio. Tu pedido llegara estes donde estes de forma rápida y segura. Podras elegir el metodo de envio que mas te convenga.
    div.pt-4.container: div.row
      div.col-6
        p(style="font-size: 18px")  La información de tu compra así como la de tus tarjetas están totalmente encriptadas, contamos con certificado SSL que brinda una mayor seguridad en las transacciones. ¿ No tienes tarjeta ? Te brindamos diferentes modalidades de pago, infórmate mas seleccionando el botón de abajo.
      div.col-6
        img.img-fluid.rounded.mx-auto.d-block(src="/assets/cubo2.jpg",  alt="", srcset="")
    +footer
        
      

