include mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="js/bootstrap.min.js")
    script(src="https://apis.google.com/js/platform.js" async defer)
    meta(name="google-signin-client_id" content="732505487071-cufjg0cfiqb73d51ffgovdnap0cm6gv8.apps.googleusercontent.com")


  body
    +navbar
    div.bg-light
      h1.display-4.text-center.pt-5 Iniciar sesión
      div.container.pt-3
        div.text-center
          a.btn.btn-warning.text-light(style="font-weight: bold" href="https://cubizzperu.com/?v=3acf83834396") INGRESA A NUESTRA PAGINA PRINCIPAL 
          div(class="g-signin2 " style='margin-left:490px; margin-top: 20px' data-onsuccess="onSignIn")

      
    .container: .row.justify-content-center: .col-6.align-self-center: form(action="/login" method="POST")
      .form-group
        label(for='inputName')  Email
        input#inputName.form-control(type='text' name='email' )
        //-if errors.name
         small#emailHelp.form-text.text-danger  Hay un problema en este campo, verificalo
      .form-group
        label(for='inputEmail') Contraseña
        input#inputEmail.form-control(type='password', name='password' aria-describedby='emailHelp' )
        //-if errors.email
         small#emailHelp.form-text.text-danger  Hay un problema en este campo, verificalo
      button.btn.btn-primary(type='submit') Iniciar Sesión
    script.
      function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

      var id_token = googleUser.getAuthResponse().id_token;

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/google');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
      };
      xhr.send('idtoken=' + id_token);
      }


    +footer
        
      

